@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  --overflow-x: hidden;
}

div.main {
  --border: 5px solid brown;
  width: 320px;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
  border-radius: 8px;
}


div.cards {
  --border: 2px solid red;
  position: relative;
  transition: 2s;
}

div.cards:hover {
  transform: rotateY(180deg);
}

div.buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

div.buttons div{
  --border: 1px solid red;
  width: 100%;
  line-height: 45px;
  cursor: pointer;
}

div[id="btn-kayaking"]{
  background-color: #00ccff;
  color: antiquewhite;
}

div[id="btn-camping"]{
  background-color: antiquewhite;
  color: #00ff95;
}


div.cards div[class|="activity"] {
  --border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
  width: 320px;
  position: absolute;
  transition: 2s;
}

div.cards div[class="activity-kayaking"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #102770;
}

div.cards div[class="activity-camping"] {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #184214;
  transform: rotateY(180deg);
  opacity: 0;
}

div.cards:hover div[class="activity-camping"] {
  opacity: 1;
}

div.cards:hover div[class="activity-kayaking"] {
  opacity: 0;
}


div.cards div[class="activity-kayaking"] div.image {
  --border: 1px solid orange;
  background-image: url(img/deniz.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 8px;
}

div.cards div[class="activity-camping"] div.image {
  --border: 1px solid orange;
  background-image: url(img/cimen.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 8px;
}


div.cards div[class|="activity"] div.name {
  --border: 2px solid blue;
  position: relative;
}

div.cards div[class="activity-kayaking"] div.name div {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, rgba(207, 243, 249, 1) 0%, rgba(57, 104, 162, 1) 83%, rgba(52, 85, 215, 1) 100%);
  border-radius: 100%;
  margin: auto;
}

div.cards div[class="activity-camping"] div.name div {
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, rgba(207, 249, 217, 1) 0%, rgba(62, 218, 86, 1) 81%, rgba(75, 215, 52, 1) 100%);
  border-radius: 100%;
  margin: auto;
}

div.name span {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.cards div[class|="activity"] div.price {
  --border: 2px solid green;
}

div.cards div[class|="activity"] div.price p.money {
  font-size: 30px;
  margin-bottom: 0;
}

div.cards div[class|="activity"] div.price p.text {
  font-size: 15px;
  color: gray;
  margin-top: -5px;
}

div.cards div[class|="activity"] div.location {
  --border: 2px solid hotpink;
  margin: 10px;
}

div.cards div[class|="activity"] div.location div {
  width: 25px;
  height: 25px;
  background: url("img/location.svg");
  background-size: cover;
  margin: auto;
}

div.cards div[class|="activity"] div.button {
  --border: 2px solid yellow;
}

div.cards div[class="activity-kayaking"] div.button button {
  border: none;
  border-radius: 2px;
  background-color: #180148;
  color: wheat;
  font-family: 'Poppins', sans-serif;
  padding: 5px 25px 5px 25px;
  margin: 25px;
}

div.cards div[class="activity-camping"] div.button button {
  border: none;
  border-radius: 2px;
  background-color: #184214;
  color: wheat;
  font-family: 'Poppins', sans-serif;
  padding: 5px 25px 5px 25px;
  margin: 25px;
}