* {
    box-sizing: border-box;
    background-color: #180148;
}

.main {
    border: 1px solid red;
    display: inline-block;
}

.menu {
    border: 1px solid black;
    background-color: #333740;
    border-radius: 10px;
    width: 340px;
    padding: 10px;
    line-height: 32px;
    margin-bottom: 10px;
    cursor: pointer;
}

i {
    background-color: #333740;
}

span#text {
    background-color: #333740;
    display: inline-block;
    width: 280px;
    padding-left: 10px;
}

.menuContent {
    border: 1px solid blue;
    background-color: #333740;
    border-radius: 10px;
    width: 340px;
}

.slider {
    border: 1px solid yellow;
    background-color: yellow;
    height: 52px;
    width: 336px;
    position: absolute;
    z-index: -1;
}

ul {
    border: 1px solid purple;
    background-color: #333740;
    margin: 0;
    padding: 0;
    display: none;
}

li {
    border: 1px solid green;
    background-color: #333740;
    list-style-type: none;
    line-height: 52px;
    padding-left: 20px;
}

li#option1 {
    cursor: pointer;
}

li#option2 {
    cursor: pointer;
}

li#option3 {
    cursor: pointer;
}

li#option4 {
    cursor: pointer;
}

li#option5 {
    cursor: pointer;
}

li[class*=option] i {
    visibility: hidden;
}